@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;800&display=swap');
:root {
    --fondo:#131415;
    --card-fondo:#252525;

    /* Colores  */
    
    --amarillo:#FFA400;
    --rojo:#FC2933;
    --blanco:#FFFFFF;
    --gradiente: linear-gradient(98.81deg, #FFA100 -0.82%, #FB103D 101.53%);

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

/* estilos principales */

body {
  background: var(--fondo);
}
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* estilos header */

header{
    width: 100%;
    height: 10vh;
    background-color: var(--fondo);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 2;
}
.contenedor-logo{
    margin-left: 10px;
    width: 10%;
    max-width: 70px;
    max-height: 70px;
}
nav{
    margin-right: 30px;
}
nav ul{
    gap: 50px;
    display: flex;
}
header a{
    color: var(--blanco);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 131.02%;
}
/* Imagenes header */

.logo{
    width: 100%;
    height: 100%;
    max-width: 65px;
    max-height: 65px;
}
.nav-ico{
    width: 19px;
    height: 19px;
}

/* estilos section principal */

.contenedor-principal{
    margin-top: 15vh;
    width: 95%;
    height: 50vh;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contenedor-principal-txt{
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
h1{
    color: var(--blanco);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 66px;
    line-height: 131.02%;
}
h2{
    color: var(--blanco);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 51px;
    line-height: 131.02%;
}
h3{
    color: var(--blanco);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 131.02%;
}
.contenedor-principal-txt a{
    padding: 18px 22px 18px 22px;

    color: var(--blanco);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.5px;

    background: var(--gradiente);

    box-shadow: 11px 28px 50px rgba(20, 78, 90, 0.2);
    border-radius: 15px;
}
.contenedor-principal-img{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.img-pizza1{
    width: 300px;
    height: 300px;
    z-index: 1;
}
.img-pizza2{
    width: 200px;
    height: 200px;
    position: relative;
        top: 50px;
        left: 110px;
}

/* Estilos section Recomendo */

.contenedor-reco{
    width: 95%;
    margin-top: 20px;
}
.contenedor-reco h3{
    margin-bottom: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 131.02%;
}

    /* Cards */

.contenedor-card-reco{
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card-reco{
    width: 347px;
    height: 103px;

    border-radius: 15px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    background-color: var(--card-fondo);
}
.card-reco-img{
    width: 20%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.card-reco-img img{
    width: 62px;
    height: 62px;
    border-radius: 10px;
}
.card-reco-txt{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card-reco-txt-title{
    margin-left: 5px;
    color: var(--blanco);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 131.02%;
}
.card-reco-txt-desc{
    margin-left: 5px;
    color:var(--blanco);
    mix-blend-mode: normal;
    opacity: 0.3;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.5px;
}
.card-reco-txt-price{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 131.02%;

    /* linear-primary */

    background: var(--gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.card-reco-action{
    width: 30%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-reco-action a{
    padding: 7px 15px 7px 15px;
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
    border-radius: 15px;
    color: var(--blanco);
}

/* Estilos section Categorias */

.contenedor-categorias{
    width: 95%;
    margin-top: 20px;
}
.contenedor-categorias h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 131.02%;
    color: var(--blanco);
}

    /* cards */

.contenedor-card-categorias{
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card-categorias{
    width: 147px;
    height: 171px;
    margin-top: 20px;

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: var(--card-fondo);
}
.card-categorias p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 131.02%;

    color: var(--blanco);
}

/* Estilos section Populares */

.contenedor-populares{
    width: 95%;
    margin-top: 20px;
}
.contenedor-populares h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 131.02%;
    color: var(--blanco);
}

    /* Cards */

.contenedor-card-populares{
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card-populares{
    width: 282px;
    height: 213px;
    margin-top: 20px;

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: var(--card-fondo);
}
.card-populares-txt{
    width: 90%;
}
.card-populares-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 131.02%;
    color: var(--blanco);
}
.card-populares-sub{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.5px;

    color: var(--blanco);

    mix-blend-mode: normal;
    opacity: 0.3;
}
.card-populares-div-price{
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-populares-price{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 131.02%;

    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.card-populares-action{
    padding: 8px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: var(--blanco);

    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
    border-radius: 17.5px;
}

/* Estilos footer */

footer{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-div-soporte{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.footer-div-soporte a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 131.02%;

    text-align: center;

    color: var(--blanco);
}
.footer-div-desarrolladores{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.footer-div-desarrolladores p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 131.02%;
    text-align: center;
    
    color: var(--blanco);
}
.footer-div-desarrolladores a{
    color: var(--rojo);
}

/* Animaciones */

.anim-blur {
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 15px;
}

.anim-blur:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}
.anim-blur:hover:before {
    opacity: 1;
}
.anim-blur:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--gradiente);
    left: 0;
    top: 0;
    border-radius: 15px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
